body{
    background-color: black;
}

img {
    width: 40%;
    margin-left: 29%;
    margin-top: 6%;
}
h1 {
    color: aliceblue;
    text-align: center;
}
h3 {
    color: aliceblue;
}
h2 {
    color: aliceblue;
}
h4 {
    color: aliceblue;
    text-align: center;
font-size: 130%;
}